.nuxt/
.output/
.nitro/
.cache/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.production

dist/
.vercel/
.netlify/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
.DS_Store?
Thumbs.db
desktop.ini

*.tsbuildinfo
